<!DOCTYPE html>
<html>
<head>
	<title>Donation Form</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-6">
				<h1 class="text-center mb-4">Donation Form</h1>
				<form action="/donate" method="POST">
					<div class="form-group">
						<label for="studentName">Student Name</label>
						<input type="text" class="form-control" id="studentName" name="studentName">
					</div>
					<div class="form-group">
						<label for="donationAmount">Donation Amount</label>
						<input type="number" class="form-control" id="donationAmount" name="donationAmount">
					</div>
					<button type="submit" class="btn btn-primary">Submit</button>
				</form>
			</div>
		</div>
	</div>

	<!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>
