<!DOCTYPE html>
<html>
<head>
	<title>SisAPP - Sistema de Gestão de Associações de Pais e Professores</title>
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/"> SisAPP - Sistema de Gestão de Associações de Pais e Professores</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Turmas
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/classes">Lista de Turmas</a>
            <a class="dropdown-item" href="/new-class">Criar Nova Turma</a>
            <a class="dropdown-item" href="/enrollments">Matrículas</a>
            <a class="dropdown-item" href="/new-enrollment">Nova Matrícula</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Alunos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/students">Lista de Alunos</a>
            <a class="dropdown-item" href="/new-student">Cadastrar Novo Aluno</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Doações
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/donation-requests">Pedidos de Doação</a>
            <a class="dropdown-item" href="/donations">Lista de Doações</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
  
  <!-- Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="/jsbarcode/dist/JsBarcode.all.min.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/jsbarcode.min.js"></script> -->

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const barcodes = document.querySelectorAll('.barcode');
      barcodes.forEach(function(barcode) {
        const requestId = barcode.dataset.requestId;
        JsBarcode(barcode, requestId, {
          format: "CODE128",
          displayValue: false
        });
      });
    });
  </script>

<script>
  function printContent() {
    var content = document.getElementById("printable-content").innerHTML;
    var printWindow = window.open('', '', 'height=400,width=800');
    printWindow.document.write('<html><head><title>Print</title>');
    printWindow.document.write('</head><body >');
    printWindow.document.write(content);
    printWindow.document.write('</body></html>');
    printWindow.document.close();
    printWindow.print();
  }
</script>

</body>
</html>