<%- include('layout'); -%>

<form method="POST" action="/new-student">
    <div class="form-group">
        <label for="studentName">Nome do Aluno</label>
        <input type="text" class="form-control" id="studentName" name="studentName" placeholder="Informe o nome do aluno">
    </div>
    <div class="form-group">
        <label for="parentName">Nome do Responsável</label>
        <input type="text" class="form-control" id="parentName" name="parentName" placeholder="Informe o nome do responsável">
    </div>
    <div class="form-group">
        <label for="birthDate">Data de Nascimento</label>
        <input type="date" class="form-control" id="birthDate" name="birthDate" placeholder="Informe a data de nascimento">
    </div>
    </div>
    <div class="form-group">
        <label for="phone">Telefone</label>
        <input type="tel" class="form-control" id="phone" name="phone" placeholder="Informe o telefone do responsável">
    </div>
    <div class="form-group">
        <label for="email">E-mail</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Informe o e-mail do responsável">
    </div>
    <div class="form-group">
        <label for="donationPermission">Permissão para Envio de Solicitações de Doação</label>
        <select class="form-control" id="donationPermission" name="donationPermission">
            <option value="nao">Nenhum</option>
            <option value="envelope">Envelope</option>
            <option value="email">E-mail</option>
            <option value="whatsapp">Whatsapp</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>