<%- include('layout'); -%>

<form method="POST" action="/new-class">
    <div class="form-group">
        <label for="className">Nome da Turma</label>
        <input type="text" class="form-control" id="className" name="className" placeholder="Informe o nome da turma">
    </div>
    <div class="form-group">
        <label for="classLocation">Local / Sala de Aula</label>
        <input type="text" class="form-control" id="classLocation" name="classLocation" placeholder="Informe o local onde a turma está alocada (sala de aula)">
    </div>
    <div class="form-group">
        <label for="classState">Situação da Turma</label>
        <select class="form-control" id="classState" name="classState">
            <option>Ativa</option>
            <option>Arquivada</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Registrar</button>
</form>