<%- include('layout'); -%>

<div class="container">
    <h1>Lista de Estudantes</h1>
    <hr>
    <ul class="nav nav-tabs">
        <li class="nav-item">
        <a class="nav-link active" href="#">Turma 1 - 2023</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="#">Turmas 2 - 2023</a>
        </li>
    </ul>
    <table class="table">
        <!-- table rows and columns here -->
    </table>
</div>